/* @font-face {
  font-family: "DemielaFreeMedium";
  src: url("./assets/fonts/DemielaFreeMedium.otf");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "HappyBirthday";
  src: url("./assets/fonts/HappyBirthday.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "HoneyBrook";
  src: url("./assets/fonts/HoneyBrook.ttf");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Highschool";
  src: url("./assets/fonts/Highschool.ttf");
  font-weight: 800;
  font-display: swap;
} */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
